/* Menu List view */
.IndexView {
  margin-left: 10px;
  width: 45px;
  padding: 0.1rem 0.2rem !important;
}
.IndexView-head {
  display: flex;
  padding: 10px 20px 0 20px;
  margin-bottom: 10px;
}
.IndexView-body {
  border-radius: 5px;
  border: 1px solid;
  height: 500px;
  overflow-y: scroll;
}
.IndexView-foot {
  padding: 10px 20px;
  margin-top: 10px;
}

/* Menu Detail View */
.MenuDetail {
  height: 700px;
  margin: 0 20px;
}

.MenuDetail-head {
  padding: 10% 10% 0 10%;
  font-size: 30px;
}

.MenuDetail-body {
  margin-top: 10%;
}

.MenuDetail-select {
  margin-top: 10%;
}

.MenuDetail-selection {
  text-align: center;
}

#MenuDetail-selectBox {
  margin: auto !important;
}

.MenuDetail-foot {
  margin-top: 10%;
  padding-right: 7%;
}

.MenuDetail-footItem {
  text-align: right;
}

.Card:hover {
  background-color: rgb(238, 238, 238);
  cursor: pointer;
}
.selectStoreBtn {
  width: 100%;
  height: 100%;
  border: 12 solid rgb(114, 114, 255);
  border-radius: 12px;
}
.selectStoreBtn:hover {
  background-color: rgb(0, 140, 255);
  color: white;
}

#shopping {
  background-image: url("../../src/image/shoppingCart.png");
  width: 100%;
  height: 4ex;
  background-size: cover;
  background-repeat: no-repeat;
}

#cardBox {
  text-align: center;
  /* border: 1px solid red; */
}

.menuCard-menuUnit {
  margin: auto !important;
}

.menu-taps {
  margin-right: 10px;
  letter-spacing: 0;
  -webkit-transition: all 0.28s ease-in-out;
  transition: all 0.28s ease-in-out;
  cursor: pointer;
}
.menu-taps:hover,
.menu-taps:focus,
.menu-taps:active {
  letter-spacing: 5px;
}
.menu-taps:after,
.menu-taps:before {
  border: 1px solid rgba(255, 255, 255, 0);
  bottom: 0;
  content: " ";
  display: block;
  margin: 0 auto;
  position: relative;
  -webkit-transition: all 0.28s ease-in-out;
  transition: all 0.28s ease-in-out;
  width: 0;
}
.menu-taps:hover:after,
.menu-taps:hover:before {
  border-color: #fff;
  -webkit-transition: width 350ms ease-in-out;
  transition: width 350ms ease-in-out;
  width: 70%;
}
.menu-taps:hover:before {
  bottom: auto;
  top: 0;
}
