.IndexView {
  margin-left: 2px;
  margin-right: 2px;
}
.IndexView-head {
  display: flex;
  margin-bottom: 10px;
}
.IndexView-body {
  border-radius: 5px;
  border: 1px solid;
  height: 500px;
}
.IndexView-foot {
  margin-top: 10px;
}
