#MenuTab {
  padding: 30px;
  height: 800px;
  overflow-x: hidden;
}

.menu-taps {
  margin-right: 10px;
  letter-spacing: 0;
  -webkit-transition: all 0.28s ease-in-out;
  transition: all 0.28s ease-in-out;
  cursor: pointer;
}
.menu-taps:hover,
.menu-taps:focus,
.menu-taps:active {
  letter-spacing: 5px;
}
.menu-taps:after,
.menu-taps:before {
  border: 1px solid rgba(255, 255, 255, 0);
  bottom: 0;
  content: " ";
  display: block;
  margin: 0 auto;
  position: relative;
  -webkit-transition: all 0.28s ease-in-out;
  transition: all 0.28s ease-in-out;
  width: 0;
}
.menu-taps:hover:after,
.menu-taps:hover:before {
  border-color: #fff;
  -webkit-transition: width 350ms ease-in-out;
  transition: width 350ms ease-in-out;
  width: 70%;
}
.menu-taps:hover:before {
  bottom: auto;
  top: 0;
}
